Repository thenomadcode/Echo: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,jsx,json}"
      run: bunx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
    
    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run check-types

pre-push:
  parallel: false
  commands:
    lint:
      run: bun run check
    
    typecheck:
      run: bun run check-types
    
    build:
      run: bun run build

feat: add clean script to remove build outputs and cache
  package.json
Due: lint

Remove some useless shit
  apps/marketing/.wrangler/deploy/config.json
Due: lint

oh it is back
  apps/marketing/.wrangler/deploy/config.json
Due: lint

Added sisyphus
  .gitignore
  .sisyphus/boulder.json
  .sisyphus/drafts/s03-auth-refactor.md
  .sisyphus/drafts/s03-shared-auth-utilities.md
  .sisyphus/drafts/s06-file-refactoring.md
  .sisyphus/plans/s01-code-quality-checks.md
  .sisyphus/plans/s03-auth-refactor.md
  .sisyphus/plans/s03-auth-utilities.md
  .sisyphus/plans/s03-shared-auth-utilities.md
  .sisyphus/plans/s06-file-refactoring.md
Due: lint

feat: S01 - Create productVariants schema and migrate products table
  packages/backend/convex/schema.ts
Due: lint, typecheck

feat: S02 - Create variant CRUD mutations
  packages/backend/convex/variants.ts
Due: lint, typecheck

feat: S03 - Update product queries to include variants
  packages/backend/convex/ai/agent.ts
  packages/backend/convex/ai/process.ts
  packages/backend/convex/orders/mutations.ts
  packages/backend/convex/products.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint, typecheck

feat: S04 - Rewrite Shopify import to create products with variants
  packages/backend/convex/integrations/shopify/mutations.ts
  packages/backend/convex/integrations/shopify/products.ts
  packages/backend/convex/integrations/shopify/types.ts
  packages/backend/convex/integrations/shopify/utils.ts
Due: lint, typecheck

chore: Update PRD and progress for S04 completion
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint

feat: S05 - Update Shopify webhooks for variant sync
  packages/backend/convex/integrations/shopify/mutations.ts
  packages/backend/convex/integrations/shopify/webhooks.ts
Due: lint, typecheck

chore: Update PRD and progress for S05 completion
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint

feat: S06 - Update product form for simple products
  apps/web/src/components/products/product-form.tsx
  packages/backend/convex/products.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint, typecheck

feat: S07 - Build variant options builder UI
  apps/web/src/components/products/product-form.tsx
  packages/backend/convex/_generated/api.d.ts
Due: lint, typecheck

docs: Update PRD and progress for S07
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint

docs: Add variant builder patterns to AGENTS.md
  AGENTS.md
Due: none

feat: S08 - Display products with variants in product list
  apps/web/src/components/products/product-card.tsx
  apps/web/src/components/products/product-table.tsx
  apps/web/src/routes/_authenticated/products/index.tsx
Due: lint, typecheck

feat: S09 - Update order schema and creation for variants
  packages/backend/convex/orders/mutations.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint, typecheck

chore: update PRD and progress for S09
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint

feat: S10 - Update order display with variant details
  apps/web/src/routes/_authenticated/orders.$orderId.tsx
Due: lint, typecheck

chore: update PRD and progress for S10
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint

feat: S11 - Update AI prompts to include variant data
  packages/backend/convex/ai/agent.ts
  packages/backend/convex/ai/agentPrompt.ts
Due: lint, typecheck

chore: update PRD and progress for S11
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint

feat: S14 - Implement AI variant disambiguation
  packages/backend/convex/ai/agent.ts
  packages/backend/convex/ai/tools.ts
  packages/backend/convex/schema.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint, typecheck

feat: S15 - Implement variant inventory tracking
  packages/backend/convex/orders/mutations.ts
  packages/backend/convex/variants.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint, typecheck

feat: S16 - Implement variant image upload to Convex
  packages/backend/convex/_generated/api.d.ts
  packages/backend/convex/integrations/shopify/products.ts
  packages/backend/convex/lib/imageUpload.ts
  packages/backend/convex/products.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint, typecheck

feat: S17 - Implement image delivery via WhatsApp/Instagram/Messenger
  packages/backend/convex/ai/process.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint, typecheck

feat: US-001 - Create productVariants table schema
  packages/backend/convex/schema.ts
  scripts/ralph/progress.txt
Due: lint, typecheck

docs: Update PRD and progress for US-001
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint

feat: US-003 - Update orders.items schema to include variantId
  packages/backend/convex/orders/types.ts
  packages/backend/convex/schema.ts
Due: lint, typecheck

chore: Update PRD and progress for US-003
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint

feat: US-004 - Create variant CRUD mutations
  packages/backend/convex/products.ts
  packages/backend/convex/variants.ts
Due: lint, typecheck

feat: US-005 - Create variant query functions
  packages/backend/convex/products.ts
  packages/backend/convex/variants.ts
Due: lint, typecheck

feat: US-006 - Create variant generation logic
  packages/backend/convex/lib/variantGeneration.ts
Due: lint, typecheck

docs: Update PRD and progress for US-006 completion
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint

feat: US-007 - Create product form with variant toggle
  apps/web/src/components/products/product-form.tsx
Due: lint, typecheck

docs: Update PRD and progress log for US-007
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint

feat: US-008 - Create variant options builder UI
  apps/web/src/components/products/product-form.tsx
  apps/web/src/components/products/variant-options-builder.tsx
Due: lint, typecheck
