Repository thenomadcode/Echo: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lint:
  run: bunx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}

typecheck:
  run: bun run check-types

feat: US-009 - Create variant table editor UI
  apps/web/src/components/products/product-form.tsx
  apps/web/src/components/products/variant-options-builder.tsx
  apps/web/src/components/products/variant-table-editor.tsx
Due: lint, typecheck

feat: US-010 - Implement product creation with variants
  packages/backend/convex/products.ts
Due: lint, typecheck

feat: US-011 - Implement product update with variant changes
  packages/backend/convex/products.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint, typecheck

feat: US-012 - Display products with variants in product list
  apps/web/src/components/products/product-card.tsx
  apps/web/src/components/products/product-table.tsx
  apps/web/src/lib/formatting.ts
  apps/web/src/routes/_authenticated/products/index.tsx
Due: lint, typecheck

feat: US-013 - Create Shopify import for products with variants
  packages/backend/convex/integrations/shopify/mutations.ts
  packages/backend/convex/integrations/shopify/products.ts
  packages/backend/convex/integrations/shopify/types.ts
  packages/backend/convex/integrations/shopify/utils.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint, typecheck

docs: Update PRD and progress for US-013
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint

feat: US-014 - Create Shopify webhook handler for variant updates
  packages/backend/convex/integrations/shopify/webhooks.ts
Due: lint, typecheck

feat: US-015 - Update AI prompt structure for variants
  packages/backend/convex/ai/agent.ts
  packages/backend/convex/ai/agentPrompt.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint, typecheck

PRD update
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint

feat: US-016 - Implement AI variant selection in conversation
  packages/backend/convex/ai/agent.ts
  packages/backend/convex/ai/tools.ts
  packages/backend/convex/orders/mutations.ts
  packages/backend/convex/schema.ts
Due: lint, typecheck

feat: US-017 - Implement inventory tracking per variant
  packages/backend/convex/integrations/shopify/mutations.ts
  packages/backend/convex/orders/delivery.ts
  packages/backend/convex/orders/mutations.ts
  packages/backend/convex/orders/status.ts
  packages/backend/convex/products.ts
  packages/backend/convex/schema.ts
  packages/backend/convex/variants.ts
  scripts/ralph/progress.txt
Due: lint, typecheck

chore: Mark US-017 as complete
  scripts/ralph/prd.json
Due: lint

feat: US-018 - Display variant details in order view
  apps/web/src/routes/_authenticated/orders.$orderId.tsx
Due: lint, typecheck

feat: US-020 - Create bulk variant operations
  packages/backend/convex/variants.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint, typecheck

fix(shopify): add missing downloadAndStoreImage import in webhooks
  packages/backend/convex/integrations/shopify/webhooks.ts
Due: lint, typecheck

fix(schema): add migration for hasVariants field and missing Shopify fields
  packages/backend/convex/products.ts
  packages/backend/convex/schema.ts
Due: lint, typecheck

We are good
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint

chore: remove unnecessary biome suppression comments
  apps/web/src/components/products/variant-options-builder.tsx
  apps/web/src/components/products/variant-table-editor.tsx
Due: lint, typecheck

fix(marketing): replace deprecated z import from astro:content with zod
  apps/marketing/src/content.config.ts
Due: lint, typecheck

feat: add ByteRover documentation and troubleshooting workflows
  .claude/skills/byterover/SKILL.md
  .claude/skills/byterover/TROUBLESHOOTING.md
  .claude/skills/byterover/WORKFLOWS.md
  .gitignore
Due: none

feat: add ByteRover knowledge repository documentation and workflows
  .opencode/skills/byterover/SKILL.md
  .opencode/skills/byterover/TROUBLESHOOTING.md
  .opencode/skills/byterover/WORKFLOWS.md
  AGENTS.md
Due: none

feat(shopify): update API version to 2026-01 and refactor product weight handling
  AGENTS.md
  apps/web/src/components/products/product-card.tsx
  apps/web/src/components/products/product-form.tsx
  apps/web/src/components/products/product-table.tsx
  apps/web/src/components/shopify/sync-status.tsx
  apps/web/src/routes/_authenticated/settings_.integrations_.shopify.tsx
  packages/backend/convex/_generated/api.d.ts
  packages/backend/convex/ai/agentPrompt.ts
  packages/backend/convex/http.ts
  packages/backend/convex/integrations/shopify/disconnect.ts
  packages/backend/convex/integrations/shopify/mutations.ts
  packages/backend/convex/integrations/shopify/orders.ts
  packages/backend/convex/integrations/shopify/products.ts
  packages/backend/convex/integrations/shopify/queries.ts
  packages/backend/convex/integrations/shopify/types.ts
  packages/backend/convex/integrations/shopify/utils.ts
  packages/backend/convex/integrations/shopify/webhooks.ts
  packages/backend/convex/schema.ts
  packages/backend/convex/testing/checkShopify.ts
  packages/backend/convex/testing/createWhatsAppConnection.ts
  packages/backend/convex/testing/debugData.ts
  packages/backend/convex/testing/debugWebhook.ts
  packages/backend/convex/testing/sendTestWebhook.ts
  products-imported.png
  settings-chats.png
  shopify-import-error.png
  shopify-import-success.png
  tasks/prd-017-fix-ai-conversation-and-order-flow.md
Due: lint, typecheck

feat: add project requirements and user stories for AI conversation improvements
  prd.json
Due: lint

feat: Remove unnecessary logging from WhatsApp webhook message handling
  packages/backend/convex/http.ts
Due: lint, typecheck

feat: US-001 - Implement multi-intent detection in intent classifier
  packages/backend/convex/ai/intent.ts
  packages/backend/convex/ai/process.ts
Due: lint, typecheck

docs: Update PRD and progress for US-002 completion
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint

feat: US-003 - Add customer name extraction and persistence
  packages/backend/convex/ai/process.ts
  packages/backend/convex/customers.ts
Due: lint, typecheck

feat: US-004 - Persist customer addresses to customerAddresses table
  packages/backend/convex/ai/process.ts
Due: lint, typecheck

feat: US-005 - Add order validation before AI confirmation
  packages/backend/convex/ai/agentPrompt.ts
  packages/backend/convex/ai/process.ts
  packages/backend/convex/ai/prompts.ts
  packages/backend/convex/ai/response.ts
Due: lint, typecheck

feat: US-006 - Fix Shopify draft order creation for card payments
  packages/backend/convex/ai/process.ts
  packages/backend/convex/orders/payments.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint, typecheck

feat: US-007 - Verify Shopify order creation for cash payments
  packages/backend/convex/integrations/shopify/orders.ts
  packages/backend/convex/integrations/shopify/types.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint, typecheck

feat: US-007 - Verify Shopify order creation for cash payments
  packages/backend/convex/integrations/shopify/orders.ts
Due: lint, typecheck

docs: Update US-007 status and progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint

feat: US-008 - Update AI prompts to be sales-focused and directive
  packages/backend/convex/ai/agentPrompt.ts
  packages/backend/convex/ai/prompts.ts
Due: lint, typecheck

chore: Update PRD and progress for US-008 completion
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: lint

feat: US-009 - Update AI prompts for human-like text messaging style
  packages/backend/convex/ai/agentPrompt.ts
Due: lint, typecheck

feat: US-010 - Enable customer preferences capture in intent flow
  packages/backend/convex/ai/intent.ts
  packages/backend/convex/ai/process.ts
  packages/backend/convex/ai/types.ts
Due: lint, typecheck

Path conditions:
  lint: any of: *.{ts,tsx,js,jsx,json}
  typecheck: any of: *.{ts,tsx}
